# dependencies
node_modules/

# next.js
.next/
out/

# production builds
dist/

# env
.env
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
